<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page | <%- title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar ">
      Welcome on Mr.Coffee App!
    </nav>
  <a href="/"><h1>Main App Page</h1></a>
  <h2>Schedule website</h2>
  <div class="tochoose">
    <button id="myButton8" class="button2" >See all users</button>
    <script type="text/javascript">
      document.getElementById("myButton8").onclick = function () {
          location.href = "/users";
      };
    </script>
    <button id="myButton4" class="button2" >See all schedules</button>
    <script type="text/javascript">
      document.getElementById("myButton4").onclick = function () {
          location.href = "/schedules";
      };
    </script>
    <button id="myButton5" class="button2" >Create new user</button>
    <script type="text/javascript">
      document.getElementById("myButton5").onclick = function () {
          location.href = "/users/new";
      };
    </script>
    <button id="myButton6" class="button2" >Create new schedule</button>
    <script type="text/javascript">
      document.getElementById("myButton6").onclick = function () {
          location.href = "/schedules/new";
      };
    </script>
    </div>
    <footer>Copyright Mr Coffee | 2021 </footer>
</body>
</html>